<div class="px-4 py-5 my-5 text-center">
  <div class="mb-5 ">
    <%= image_tag "can.png", size: "200x200", class:"mb-3" %>
    <h1 class="mb-3 fw-bold">StockListとは</h1>
    <p class="mb-5">非常食の賞味期限を管理できるアプリです。<br>
      非常食は物によって賞味期限が長いものが多く、気づかないうちに期限が切れてることもしばしば。<br>
      いつ起こるかわからない災害。いざという時に困らないように開発したアプリ</p>
  </div>
  <div class="px-4 py-5 mb-5">
    <%= image_tag "bag.png", size: "200x200", class:"mb-3" %>
    <h1 class="mb-3 fw-bold">主な機能</h1>
    <p class="mb-2">賞味期限を登録すれば残り何日かのカウント</p>
    <p class="mb-2">期限が近くなったらメールでお知らせします。</p>
    <p class="mb-2">ローリングストックが理想。消費後の買い物リスト</p>
  </div>
  <div>
    <%= image_tag "water.png", size: "200x200", class:"mb-3" %>
    <h1 class="mb-3 fw-bold">賞味期限？消費期限？</h1>
    <h4 class="mb-1 fw-bold">賞味期限とは</h4>
    <p class="mb-3">あ</p>
    <h4 class="mb-2 fw-bold">消費期限とは</h4>
    <p class="mb-3">あ</p>
  </div>
</div>