<div class="cotainer">
  <div class="row">
    <div class="col-12 col-md-6 text-center mx-auto mt-5">
      <div class="mb-5">
        <%= image_tag "can.png", size: "200x200", class:"mb-3" %>
        <h1 class="mb-3 fw-bold">StockListとは</h1>
        <p class="mb-5">非常食の賞味期限を管理できるアプリです。<br>
          非常食は物によって賞味期限が長いものが多く、<br>
          気づかないうちに期限が切れてることもしばしば。<br>
          いつ起こるかわからない災害。<br>
          いざという時に困らないように開発したアプリです</p>
      </div>
      <div class="px-4 py-5 mb-5">
        <%= image_tag "bag.png", size: "200x200", class:"mb-3" %>
        <h1 class="mb-3 fw-bold">主な機能</h1>
        <p class="mb-2">1.在庫一覧で非常食の賞味期限を登録すれば、<br>
          残り何日かのカウントをします。</p>
        <p class="mb-2">2.賞味期限が切れる１ヶ月前、１週間前、当日に<br>
          メールでお知らせします。</p>
        <p class="mb-2">3.ローリングストックできるよう、<br>
          消費後は買い物リストに追加しましょう。</p>
      </div>
      <div>
        <%= image_tag "water.png", size: "200x200", class:"mb-3" %>
        <h1 class="mb-3 fw-bold">賞味期限？消費期限？</h1>
        <h4 class="mb-2 fw-bold">賞味期限とは</h4>
        <p class="mb-5">未開封の状態であれば、<br>
          <strong>品質が変わらず美味しく食べられる期間</strong>のことです。<br>
          この期限が過ぎたからといって、<br>
          すぐ食べられなくなるというわけではありません。<br>
          主に傷みにくい食品に表示されています。</p>
        <h4 class="mb-2 fw-bold">消費期限とは</h4>
        <p class="mb-5">未開封の状態であれば、<br>
          <strong>安全に食べることができる期間</strong>のことです。<br>
          賞味期限とは違い、傷みやすい食品に表示されています。</p>
      </div>
    </div>
  </div>
</div>

