<nav class="navbar navbar-expand-md bg-body-secondary" data-bs-theme="light">
  <div class="container-fluid">
    <%= link_to '在庫登録', new_stock_path, class:"btn btn-primary" %>
    <div class="collapse navbar-collapse justify-content-lg-end" id="navbar">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="在庫一覧から検索" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>